
@model List<WebApp.Models.Usuario>
@using WebApp.Models
@{

    //Verifica se o usuário esta logado
    if (Session["Usuario"] == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 160 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

    Usuario gUsuario = (Usuario)Session["Usuario"];
    List<UsuarioPermissoes> lstPermissoes = gUsuario.lstUsuarioPermissoes;
    UsuarioPermissoes permissoesDesteModulo = lstPermissoes.Find(x => x.mod_id.Equals(160)); // 160 = id DO MODULO
    if (permissoesDesteModulo == null)
    {
        Html.Action("LogSistema_Salvar", "LogSistema", new { mod_id = 160 });
        Response.Redirect("~/AcessoNegado/AcessoNegado");
    }

}

<h2></h2>

<form class="form-horizontal" onkeydown="if (event.keyCode == 13) { event.preventDefault(); return false; }">
    @{
        ViewBag.Title = "::.. Priorização ..::";
    }
</form>

<style>
    .Centralizado {
        text-align: center;
    }


</style>

<div style="width:100%;" id="divFiltros">
    <div class="box box-primary">
        <div class="box-body">
            <div class="form-group">
                <div class="col-sm-3">
                    <label class="control-label">Rodovia</label>
                    <input type="text" class="form-control" id="txtCodRodovia" maxlength="50" onkeydown="if (event.keyCode == 13) { ExecutarFiltroPriorizacao(); }" >
                </div>

                <div class="col-sm-3">
                    <label class="control-label">Regional</label><br />
                    @*<input type="text" class="form-control" id="txtCodOAE" maxlength="50" onkeydown="if (event.keyCode == 13) { ExecutarFiltroPriorizacao(); }" >*@
                    @Html.DropDownList("cmbFiltroRegionais", null, null, new { @class = "form-control", @multiple = "multiple", @style="width:150px !important;"})
                </div>
 
                <div>
                    <div class="btn-box-tool pull-right" style="margin-top:10px">
                        <button type="reset" class="btn btn-info" onclick="LimparFiltroPriorizacao();"><i class="fa fa-eraser margin-r-5"></i> Limpar</button>
                        <button type="submit" class="btn btn-primary" onclick="ExecutarFiltroPriorizacao();" style="margin-right: 10px !important;"><i class="fa fa-search margin-r-5"></i> Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content" style="min-height: 50px;">
    <div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <table id="tblPriorizacao">
                    <thead>
                        <tr>
                            <th>pri_id</th>
                            <th>obj_id</th>
                            <th title="Prioridade">Prioridade</th>
                            <th title="OAE">OAE</th>
                            <th title="Nota Final">Nota Geral</th>
                            <th title="Nota Estrutura">Nota Estrut</th>
                            <th title="Nota Durabilidade">Nota Durab</th>
                            <th title="Ação">Ação</th>
                            <th title="Status">Status</th>
                            <th title="Nota Importância na Malha">Importância na Malha</th>
                            <th title="Nota VDM">Nota VDM</th>
                            <th title="Nota Principal Utilização">Nota Princ Util</th>
                            <th title="Nota Facilidade de Desvio">Nota Facili Desvio</th>
                            <th title="Nota Gabarito Vertical">Nota Gab Vert</th>
                            <th title="Nota Gabarito Horizontal">Nota Gab Horiz</th>
                            <th title="Nota Largura da Plataforma">Nota Larg Plataf</th>
                            <th title="Nota Agressividade Ambiental">Nota Agres Amb</th>
                            <th title="Nota Trem Tipo">Nota Trem Tipo</th>
                            <th title="Nota Barreira de Segurança">Nota Barr de Segur</th>
                            <th title="Nota Restrição de Treminhões">Restr Tremi nhões</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        @*</div>*@
    </div>
</section>



<link href="~/Content/Gerais.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Content/plugins/sweetalert2.min.js"></script>

<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>


@section Scripts{
    <script>
        var permissaoLeitura = parseInt(@permissoesDesteModulo.mfl_leitura);
        var permissaoEscrita = parseInt(@permissoesDesteModulo.mfl_escrita);
        var permissaoInsercao = parseInt(@permissoesDesteModulo.mfl_inserir);
        var permissaoExclusao = parseInt(@permissoesDesteModulo.mfl_excluir);
    </script>
}

<script src="~/Scripts/Base.js"></script>


<script>

    function LimparFiltroPriorizacao() {

        $('#txtCodRodovia').val("");
        $('#txtCodOAE').val("");

        carregaGridPriorizacao();

        return false;
    }

    function ExecutarFiltroPriorizacao() {

        carregaGridPriorizacao();
        return false;
    }

    function carregaGridPriorizacao() {
        var FiltroRegionais = ($("#cmbFiltroRegionais").val() + ';').replaceAll(",", ";");


        $('#tblPriorizacao').DataTable().destroy();
        $('#tblPriorizacao').DataTable({
            "ajax": {
                "url": "/Objeto/ObjPriorizacao_ListAll",
                "type": "GET",
                "datatype": "json",
                "data": function (d) {
                    d.CodRodovia = $('#txtCodRodovia').val();
                    //d.CodOAE = $('#txtCodOAE').val();
                    d.Regionais = FiltroRegionais;
                }
            }
            , "columns": [
                { data: "pri_id", "className": "hide_column", "searchable": false },
                { data: "obj_id", "className": "hide_column", "searchable": false },
                { data: "pri_ordem", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "obj_codigo", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_final", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_estrutura", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_durabilidade", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_acao", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_status", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_importancia_oae_malha", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_vdm", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_principal_utilizacao", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_facilidade_desvio", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_gabarito_vertical", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_gabarito_horizontal", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_largura_plataforma", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_agressividade_ambiental", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_trem_tipo", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_nota_barreira_seguranca", "className": "Centralizado", "autoWidth": true, "searchable": true },
                { data: "pri_restricao_treminhoes", "className": "Centralizado", "autoWidth": true, "searchable": true }
            ]
            , "order": [2, "asc"]
           // , "ordering": false
            , 'columnDefs': [
                {
                    targets: [3] // obj_codigo
                    ,"createdCell": function (td, cellData, rowData, row, col) {
                        $(td).attr('title', rowData["obj_descricao"]);
                    }

                    ,targets: [7] // pri_nota_acao
                    ,"createdCell": function (td, cellData, rowData, row, col) {
                        $(td).attr('title', rowData["pri_acao"]);
                    }

                    ,targets: [8] // pri_status
                    ,"createdCell": function (td, cellData, rowData, row, col) {
                        $(td).attr('title', rowData["status_descricao"]);
                    }                    
                    
                    ,"targets": [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
                    ,"orderable": false

                }
            ]

            , "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
            , select: {
                style: 'single'
            }
            , searching: false
            , "oLanguage": idioma
            , "pagingType": "input"
            , "sDom": '<"top">rt<"bottom"pfli><"clear">'
        });
    }



    // montagem do gridview
    $(document).ready(function () {

        carregaGridPriorizacao();

    });


    // transforma o combo em multipla escolha
    $(function () {
        $('#cmbFiltroRegionais').multiselect({
            includeSelectAllOption: false,
            nonSelectedText: "-- Selecione --",
            delimiterText: '; '
        });
    });

</script>

